# Sepolia RPC URL
ETHEREUM_HOSTS=
# Sepolia Beacon API URL
L1_CONSENSUS_HOST_URLS=
# Aztec testnet wallet private key
VALIDATOR_PRIVATE_KEY=
# Use these if you have multiple validators
# VALIDATOR_PRIVATE_KEYS=
# SEQ_PUBLISHER_PRIVATE_KEY=
# Aztec testnet wallet public key, fee recipient
COINBASE=
# Your public IP address, get it by running `curl -4 ifconfig.me`
P2P_IP=